.keyboard {
  width: 722px;
  border: 1px solid slategray;
  padding: 5px;
  border-radius: 4px;
  position: relative;
}

.line::after {
  content: "";
  display: block;
  clear: both;
}

.key {
  background-color: slategray;
  color: white;
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid slategray;
  border-radius: 4px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  line-height: 32px;
}

.backspace {
  width: 106px;
}

.del,
.tab {
  width: 50px;
}

.caps,
.enter {
  width: 96px;
}

.left-shift {
  width: 106px;
}

.right-shift {
  width: 85px;
}

.ctrl {
  width: 60px;
}

.space {
  width: 296px;
}

.black {
  background-color: rgb(60, 60, 60);
  color: slategray;
}

.down {
  background-color: black;
  transition: all 0.3s;
}

.textarea {
  width: 722px;
  border: 1px solid slategray;
  border-radius: 4px;
  height: 100px;
  resize: none;
}

.container-language {
  display: flex;
  margin-bottom: 4px;
  gap: 4px;
}

.language {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 150px;
  border: 1px solid slategray;
  border-radius: 4px;
  background-color: slategray;
  color: white;
}

.change-language {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30px;
  width: 568px;
  border: 1px solid slategray;
  border-radius: 4px;
  color: white;
  background-color: slategray;
}

.container-keyboard {
  max-width: 750px;
  margin: 20px auto;
}

.key:hover {
  background-color: rgb(20, 72, 230);
  cursor: pointer;
}
